<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Cadastro - Monitoramento de Piscicultura</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h2>Criar Conta</h2>

    <form action="/login" method="GET">
        <label>Nome Completo:</label><br>
        <input type="text" name="nome" required><br><br>

        <label>E-mail:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Senha:</label><br>
        <input type="password" name="senha" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <a href="/index">index</a>

    <p>Já tem uma conta? <a href="/login">Faça Login</a></p>
</body>
</html>