<html lang="pt-BR">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/static/index.css" />
    <title>Registrador Mortalidade dos peixes</title>
</head>

<body>
    <header>
        <div class="logo">
            <h2>Registrador Mortalidade dos peixes</h2>
        </div>
    </header>
    <main>
        <div class="container">
            <h1>Registrar Mortalidade</h1>
            <form action="{{ url_for('registrar') }}" method="post">
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required /><br /><br />
                <label for="quantidade">Quantidade de Peixes Mortos:</label>
                <input type="number" id="quantidade" name="quantidade" required /><br /><br />
                <label for="tanque">Número do Tanque:</label>
                <input type="int" id="tanque" name="tanque" placeholder="Número do Tanque" required /><br /><br />
                <input type="submit" value="Enviar" />
            </form>
        </div>
    </main>
</body>

</html>